@import "variables";

nav {
    background-color: $nav-background;
    padding: 20px 40px;
    text-align: center;
    font-size: larger;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0.4rem 0.35rem 0rem 0rem #6ab5c6;

    a:hover {
      color: $nav-font-color-hover;
    }

    .current {
      color: $nav-font-color-selected;
      font-weight: 1000;
    }

    a {
      margin-left: 15px;
      margin-right: 15px;
      text-decoration: none;
      color: $nav-font-color;
      transition: color .15s ease-in;
    }
  }

body {
  font-family: 'Manrope';
  color: $font-color;
  margin: 0;
  background-color: $body-color;
}

.content {
  padding-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
  padding-left: 5%;
  padding-right: 5%;
  height: 500px;

  h1 {
    padding-bottom: 30px;
    margin-bottom: 50px;
    color: #4a585d;
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
    border-bottom-color: #4a585d;
  }

  a {
    color: $link-font-color;
    text-decoration: none;
    transition: color .2s ease-in;
  }

  a:hover {
    color: $font-color;
  }
}

