#wip-img {
    border-radius: 20px;
    box-shadow: 0.9rem 0.75rem 0rem 0rem #2b5e69;
    display: block;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

.projects {
    text-align: center;
}