// main content
$body-color : #4d8896;
$font-color: #fff;
$link-font-color: #325963;
$link-font-hover-color: #1e293b;
$link-underline-color: #1e293b;

// navigation
$nav-background-color : #2f5e69;
$nav-shadow-color : #81baca;
$nav-font-color: #fff;
$nav-font-color-selected: #a2e9fd;
$nav-font-color-hover: #4d8896;
$nav-max-width: 500px;
$nav-min-width: 320px;
