// main content
$body-color : #4d8896;
$font-color: #bff1ff;
$link-font-color: #385860;
// $link-font-hover-color: #b9bfc0;

// navigation
$nav-background : #2f5e69;
$nav-font-color: #83e5ff;
$nav-font-color-selected: #a2e9fd;
$nav-font-color-hover: #4d8896;
$nav-max-width: 500px;
$nav-min-width: 320px;
